
<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>


    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .top-buffer { margin-top:40px; }
    </style>
</head>

<script th:inline="javascript">
   $(function(){
       $('#chooseImage').on('change',function(){
           var filePath = $(this).val(),
               fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
               src = window.URL.createObjectURL(this.files[0]);

           // 检查是否是图片
           if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
               error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
               return;
           }

           $('#cropedBigImg').attr('src',src);
           $("#path").attr('value',filePath);
       })
        init()
        $("#save").click(function(){
            $.ajax({
                url:"/user/alteruser.action",
                method:"GET",
                data: $.param({"id":[[${user.id}]],})+"&"+$("#userform").serialize(),
                success:function(result){
                    //alert(result.msg);
                    if(result == 1){
                        //员工保存成功；
                        alert("save success!!")
                    }else{
                        alert("save error! Please input again...")
                    }
                }
            });
        });




        function init() {
            if([[${user.sex}]]==1)
            {
                $("#gender1_alter_input").prop('checked',false);
                $("#gender2_alter_input").prop('checked','checked');
            }

            if([[${user.sex}]]==0)
            {
                $("#gender2_alter_input").prop('checked',false);
                $("#gender1_alter_input").prop('checked',"checked");
            }
            if([[${user.img_path}]]==null||[[${user.img_path}]]=="")
            {
                $("#cropedBigImg").attr("src","../static/head/1.jpeg")
            }
            if([[${user.img_path}]]!=null)
            {
                $("#cropedBigImg").attr("src","../static/head/"+[[${user.img_path}]])
                $("#path").attr('value',[[${user.img_path}]]);
            }
        }
    })

</script>

<body>

<!-- 搭建显示页面 -->
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>去哪玩旅游网</h1>
        </div>
        <div class="col-md-6">
            <input style="float: right" type="button" class="btn btn-primary" id="logout" onclick="window.location.href = '/user/logout.action'" value="退出账号"/>
            <h4 class="text-right" th:text="当前用户+${user.name}"></h4>

        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked ">
                <li role="presentation"><a href="/user/order">我的订单</a></li>
                <li role="presentation"  class="active"><a href="#">我的资料</a></li>
                <li role="presentation"><a href="/user/main">常用联系人</a></li>
                <li role="presentation"><a href="/user/password">修改密码</a></li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="row">
                <form class="form-horizontal" id="userform">
                    <img id="cropedBigImg" value='custom' alt="lorem ipsum dolor sit" data-address='' title="自定义背景" height="100" width="100"/>
                    <input type="file" id="chooseImage" name="file">
                    <!-- 保存用户自定义的背景图片 -->
                    <input type="hidden" name="img_path" id="path" />
                    <label class="control-label">姓名</label>
                    <input type="text" name="name" class="form-control" th:value="${user.name}"/>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="gender1_alter_input" value="0" checked="checked"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="gender2_alter_input" value="1"> 女
                    </label>
                    </br>
                    <label class="control-label" >邮箱</label>
                    <input type="text" name="email" class="form-control" th:value="${user.email}"/>
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>