
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>去哪玩</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<link type="text/css" rel="stylesheet" th:href="@{/css/login.css}" />
	<script type="text/javascript" src="js/jquery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/pages/login/login.js"></script>
	<script>
		var flag_code=0

		var flag=1
		var flag_phone=0
		var flag_email=0
		var flag_password=0
		// 检测注册操作
		function check() {
			if(flag_phone==1&&flag_email==1&&flag_password==1)
			{
				$("#action_button").prop('disabled',"")
				return;
			}
			else
			{
				$("#action_button").prop('disabled',"disabled")
			}

		}
		// 切换登录和注册页面
		function change() {
			if (flag==1){
				$("#title").text("Sign Up")
				$("#login_form").attr("style","display: none;")
				$("#sign_form").attr("style","")
				flag=2
			}
			else
			{
				$("#title").text("Login")
				$("#login_form").attr("style","")
				$("#sign_form").attr("style","display: none;")
				flag=1
			}
		}
		// 输入框聚焦失焦进行ajax判定是否可以注册
		$(function(){
			$("#ident").focus(function () {
				$("#login").prop("disabled","disabled")
			})
			$("#ident").blur(function () {
				$.ajax({
					url: "/check_code.jhtml",
					data: {"code": $('#ident').val()},
					type: "POST",
					dataType: "TEXT",
					success: function (data) {
						if (data == "false") {
							flag_code = 0
							$("#login").prop("disabled","disabled")
							$("#msg").text("验证码错误")
						}
						if (data == "true") {
							flag_code = 1
							$("#login").prop("disabled","")
							$("#msg").text("验证码正确")
						}

					}
				});
			})

		$("#phone").focus(function () {

			flag_phone=0
			check();
			$("#msg1").text("")
		});
		$("#phone").blur(function () {
			if($("#phone").val()!=""&&$("#phone").val()!=null) {
				$.ajax({
					url: "/user/check_phone",
					data: {"phone": $('#phone').val()},
					type: "POST",
					dataType: "TEXT",
					success: function (data) {
						if (data == "false") {
							flag_phone = 0
							$("#msg1").text("手机已重复")
						}
						if (data == "true") {
							flag_phone = 1
							$("#msg1").text("可以")
						}
						check();
					}
				});

			}
		});

		$("#email").focus(function () {
			flag_email=0
			check();
			$("#msg2").text("")
		});
		$("#email").blur(function () {
			if($("#email").val()!=""&&$("#email").val()!=null)
			{
			$.ajax({
				url: "/user/check_email",
				data: {"phone": $('#email').val()},
				type: "POST",
				dataType: "TEXT",
				success: function (data) {
					if (data == "false") {
						flag_email = 0
						$("#msg2").text("邮箱已重复")
					}
					if (data == "true") {
						flag_email = 1
						$("#msg2").text("可以")
					}
					check();
				}

			});

			}
		});

		$("#password1").focus(function () {
			check();
		});
		$("#password1").blur(function () {
			check();
		});

		$("#password2").focus(function () {
			flag_password=0
			check();
			$("#msg3").text("")
		});
		$("#password2").blur(function () {
			if($("#password1").val()!=null && $("#password1").val()!="" && $("#password2").val()!=null && $("#password2").val()!="")
			{
				if($("#password1").val()!=$("#password2").val())
				{
					flag_password=0;
					$("#msg3").text("两次不一致")
				}
				else {
					flag_password=1;
				}
			}
			check();
		});
		})
	</script>

</head>

<body>
<div class="container-scroller">
	<div class="container-fluid page-body-wrapper">
		<div class="row">
			<div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
				<div class="card col-lg-4 mx-auto">
					<div class="card-body px-5 py-5">
						<h3 id="title" class="card-title text-left mb-3">Login</h3>
						<form id="login_form" action="/user/login" method="post">
							<div class="form-group">
								<label>Phone or email *</label>
								<input  type="text" class="form-control p_input" name="name" required>
							</div>
							<div class="form-group">
								<label>Password *</label>
								<input type="text" class="form-control p_input" name="password" required>
							</div>
							<div class="form-group">
								<label>验证码</label></br>
									<input type="text" name="code" id="ident" class="text identify form-control p_input" style="">
								<span class="identifying">
									<img src="/code.jhtml" width="120px" height="40px" onclick="javascript:this.src='/code.jhtml?id='+new Date().getMilliseconds()">
								</span>
							</div>
							<label id="msg">
								<td th:text="${msg}"></td>
							</label>



							<div class="form-group d-flex align-items-center justify-content-between">
								<div class="form-check">
									<label class="form-check-label">
										<input type="checkbox" class="form-check-input">
										Remember me
									</label>
								</div>
								<a href="#" class="forgot-pass">Forgot password</a>
							</div>
							<div class="text-center">
								<button type="submit" id="login" class="btn btn-primary btn-block enter-btn" disabled="disabled">Login</button>
							</div>
							<div class="d-flex">
								<button class="btn btn-facebook mr-2 col">
									<i class="mdi mdi-facebook"></i> Facebook
								</button>
								<button class="btn btn-google col">
									<i class="mdi mdi-google-plus"></i> Google plus
								</button>
							</div>
							<p class="sign-up">Don't have an Account?<a onclick="change()"> Sign Up</a></p>
						</form>

						<form id="sign_form" action="/user/sign" method="post" style="display: none;">
							<div class="form-group">
								<label>Phone*</label><label id="msg1"></label>
								<input id="phone" type="text" class="form-control p_input" name="phone" required>
							</div>
							<div class="form-group">
								<label>email*</label><label id="msg2"></label>
								<input id="email" type="text" class="form-control p_input" name="email" required>
							</div>
							<div class="form-group">
								<label>name*</label>
								<input id="name" type="text" class="form-control p_input" name="name" required>
							</div>
							<div class="form-group" name="password">
								<label>Password *</label>
								<input id="password1" type="text" class="form-control p_input" name="password" required>
							</div>

							<div class="form-group">
								<label>Confirm Password *</label><label id="msg3" ></label>
								<input id="password2"type="text" class="form-control p_input" name="confirm_password" required>
							</div>

							<div class="text-center">
								<button id="action_button" type="submit" class="btn btn-primary btn-block enter-btn" disabled="disabled">Sign Up</button>
							</div>
							<p class="sign-up">Ready?<a onclick="change()"> Login </a></p>
						</form>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- row ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<!-- endinject -->
</body>

</html>